<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.primeton.studio.runtime.modelFactory">
      <modelFactory
            class="com.mu.jup.studio.extension.factory.XyzModelFactory"
            resource="folder"
            type="xyz">
      </modelFactory>
   </extension>
<!--   <extension
         point="com.primeton.studio.core.adapter">
      <factory
            adaptableType="com.primeton.studio.runtime.node.impl.PackageRootNode"
            class="com.mu.jup.studio.extension.adapter.XyzNodeWorkbenchAdapter">
         <adapter
               class="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               class="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
   </extension> -->
   <extension
         point="com.primeton.studio.ui.imageRepository">
      <repository
            bundleName="com.primeton.studio.navigator"
            image="icons/m2.gif"
            name="com.primeton.studio.runtime.core.internal.PackageRoot.Xyz">
      </repository>
      <repository
            bundleName="com.primeton.studio.navigator"
            image="icons/lock_ovr.gif"
            name="xyz">
      </repository>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.mu.jup.studio.extension.mu"
            class="com.mu.jup.studio.extension.wizard.NewXyzWizard"
            icon="icons/pom_obj.gif"
            id="com.mu.jup.studio.extension.wizard.NewXyzWizard"
            name="New Xyz">
      </wizard>
      <category
            id="com.mu.jup.studio.extension.mu"
            name="MU"
            parentCategory="com.primeton.studio.workbench.wizard">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mu.jup.studio.extension.editors.XyzEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xyz"
            icon="icons/m2.gif"
            id="com.mu.jup.studio.extension.editors.XyzEditor"
            name="Xyz 编辑器">
      </editor>
   </extension>

</plugin>
